<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Registro</div>
        
        
        
        <form action="/usuario/registro"  method="POST">
            
            
            <input type="text" name="nombre">
            <input type="email" name="mail">
            <input type="password" name="clave1">
            <input type="password" name="clave2">
            <input type="submit" value="enviar">
        </form>
    </body>
</html>
